@model Autoventas_IN6AV.Models.Automovil

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Automovil</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idAutomovil)

        <div class="form-group">
            @Html.LabelFor(model => model.modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modelo)
                @Html.ValidationMessageFor(model => model.modelo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.año, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.año)
                @Html.ValidationMessageFor(model => model.año)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.color, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.color)
                @Html.ValidationMessageFor(model => model.color)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.precio)
                @Html.ValidationMessageFor(model => model.precio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.informacionExtra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.informacionExtra)
                @Html.ValidationMessageFor(model => model.informacionExtra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idArchivo, "idArchivo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idArchivo", String.Empty)
                @Html.ValidationMessageFor(model => model.idArchivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idMarca, "idMarca", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idMarca", String.Empty)
                @Html.ValidationMessageFor(model => model.idMarca)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idCategoria, "idCategoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idCategoria", String.Empty)
                @Html.ValidationMessageFor(model => model.idCategoria)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idCombustible, "idCombustible", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idCombustible", String.Empty)
                @Html.ValidationMessageFor(model => model.idCombustible)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idEstado, "idEstado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idEstado", String.Empty)
                @Html.ValidationMessageFor(model => model.idEstado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTransmision, "idTransmision", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTransmision", String.Empty)
                @Html.ValidationMessageFor(model => model.idTransmision)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
