@model IEnumerable<Autoventas_IN6AV.Models.Automovil>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.archivo.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combustible.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marca.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transmision.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.informacionExtra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.archivo.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combustible.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marca.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transmision.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.informacionExtra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAutomovil }) |
            @Html.ActionLink("Details", "Details", new { id=item.idAutomovil }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idAutomovil })
        </td>
    </tr>
}

</table>
