@model IEnumerable<Autoventas_IN6AV.Models.Automovil>

@{
    ViewBag.Title = "Automóviles";
}

<h2>Automóviles</h2>
<h3>En esta sección encontrará todos los carros que tenemos disponibles.</h3>
<h5>Para ver más información, seleccione "Detalles".</h5>
@if (Session["idUsuario"] != null && (int)Session["idUsuario"] == 10)
{
    <p>
        @Html.ActionLink("Agregar automóvil", "Create")
    </p>
}
<div class="row">
    @foreach (var item in Model) 
    {
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                @if (item.archivos.Any(i => i.tipo == FileType.Imagen))
                {
                    <img src="~/Archivo/ObtenerArchivo?id=@item.archivos.First(i => i.tipo == FileType.Imagen).idArchivo" alt="Foto Automóvil." />
                }
                <div class="caption">
                    <h3>@Html.DisplayFor(valor => item.modelo)</h3>
                    <hr />
                    <p>
                        <strong>Marca: </strong>@Html.DisplayFor(valor => item.marca.nombre)<br />
                        <strong>Año de Fabricación: </strong>@Html.DisplayFor(valor => item.año)<br />
                    </p>
                    @if (Session["idUsuario"] != null)
                    {
                        @Html.ActionLink("Detalles", "Details", new { id = item.idAutomovil })<br />}
                    else
                    {
                        <a href="#register-modal" data-toggle="modal" data-target="#register-modal">Detalles</a>
                        <div id="register-modal" class="modal fade" role="dialog">
                            <div class="modal-dialog">


                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Error</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Estás navegando en el sitio como invitado.</p>
                                        <p>Por favor, inicia sesión o registrate para acceder a los detalles de los automóviles.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="@Url.Action("Registro","Cuenta")" class="btn btn-primary" role="button">Registrarme</a>
                                        <a href="@Url.Action("Login","Cuenta")" class="btn btn-primary" role="button">Iniciar Sesión</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                    @if (Session["idUsuario"] != null && (int)Session["idUsuario"] == 10)
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.idAutomovil }) <br />
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idAutomovil })
                    }
                </div>
            </div>
        </div>
    }

</div>