@model Autoventas_IN6AV.Models.Reservacion

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>

@{
    ViewBag.Title = "Reservación";
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Solicitud Reservación</h4>
            </div>
            <div class="modal-body">
                <p>Está a punto de reservar un automóvil.</p>
                <p>Por favor, ingrese la fecha de hoy, verifique que su nombre sea el correcto y que el carro sea el que desea.</p>
                <p><strong>IMPORTANTE: </strong>esta es solo una solicitud y no asegura que el carro sea reservado, más adelante se le dará más información.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
            </div>
        </div>

    </div>
</div>

@if (Session["idUsuario"] != null)
{
<h2>Reservar un autómovil</h2>

using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Confirmar datos</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @id="datepicker" } })
                @Html.ValidationMessageFor(model => model.fecha)
            </div>
        </div>

        <div class="form-group"> 
            @Html.LabelFor(model => model.idUsuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idUsuario", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idAutomovil, "Seleccionar automóvil", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idAutomovil", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idAutomovil)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar solicitud" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Regresar", "Index", "Automovil")
    </div>
    }
    else
    {
    <h1 style="text-align:center"><strong>ERROR</strong></h1>
    <h1 style="text-align:center">No tiene acceso a esta vista. Regresar al <a href="@Url.Action("Index","Home")">inicio</a></h1>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
